@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  margin: 0px;
  padding: 0px;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
}
.load-anim {
  animation: loadAnim 1s 1;
}

@keyframes loadAnim {
  from {
    opacity: 0;
    transform: translateY(0) scale(1);
  }

  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}
html {
  scroll-behavior: smooth;
}
.more-icon-back {
  margin-bottom: -3px;
}
.single-page-news {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 80%;
  margin-left: 10%;
  margin-top: 130px;
}

.single-image {
  position: absolute;
  text-align: center;
  width: 100%;
  height: 500px;
}
.single-img {
  height: 100%;
}

.img-left {
  color: rgb(163, 167, 174);
  font-size: 25px;
  padding: 10px;
  display: flex;
  justify-content: center;
  background-color: white;
  position: absolute;
  top: 49%;
  left: 0px;
  border: 1px solid rgb(163, 167, 174);
  border-radius: 5px;
  transition: all 0.3s ease-in;
}
.img-left:hover {
  background-color: rgb(163, 167, 174);
  color: white;
}
.img-right:hover {
  background-color: rgb(163, 167, 174);
  color: white;
}
.img-right {
  color: rgb(163, 167, 174);
  font-size: 25px;
  padding: 10px;
  transition: all 0.3s ease-in;
  display: flex;
  justify-content: center;
  background-color: white;
  position: absolute;
  top: 49%;
  right: 0px;
  border: 1px solid rgb(163, 167, 174);
  border-radius: 5px;
}
.single-title{
  width: 100%;
  margin-top: 540px;
  font-size: 21px;
  line-height: 30px;
  color: black;
  font-weight: 700;
}
.single-text{
  width: 90%;
  margin-top: 40px;
  font-size: 17px;
  line-height: 24px;
  color: black;
  font-weight: 400;
  margin-bottom: 50px;
}
.single-watch{
  margin-bottom: -2px;
  margin-left: 15px;
}
.single-extra{
  display: block;
  width: 100%;
  text-align: left;
}